.ProductNav_Wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.ProductNav {
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  flex: 1;
}

.ProductNav::-webkit-scrollbar {
  display: none;
}

.ProductNav_Contents {
  display: inline-flex;
}

.ProductNav_Link {
  padding: 10px 16px;
  text-decoration: none;
  color: #7f868b;
  font-weight: 500;
  white-space: nowrap;
}

.ProductNav_Link.active {
  color: #6a2c79;
  border-bottom: 2px solid #6a2c79;
}

.Advancer {
  background: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 8px 12px;
}

.Advancer:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}


/* button next and previous */
.Advancer {
  width: 30px;
  height: 30px;
  padding: 0;              /* 🔥 IMPORTANT */
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: bold;
}
